.form-title{
    text-align: center;
}
.maker-title{
    font-size: 1.5em;
}
.page-title{
    font-size: 1.8em;
    font-weight: 400;

}
.object-info-titles{
    font-size: 1em;
    font-weight: bold;
}
.no-items{
    text-align: center;
    opacity: 0.5;
    color: rgba(194, 194, 194, 0.63);
    margin-top: 10%;
}